<div id="message">
  {{ message }}
</div>
<div id="info">
  <table>
    <tr>
      <th>pod:</th>
      <td>{{ hostName }}</td>
    </tr>
    <tr>
      <th>node:</th>
      <td>{{ platform }} ({{ release }})</td>
    </tr>
    <tr>
      <th>node name:</th>
      <td>{{ nodeName }}</td>
    </tr>
    <tr>
      <th>node ip:</th>
      <td>{{ nodeIP }}</td>
    </tr>
    <tr>
      <th>pod name:</th>
      <td>{{ podName }}</td>
    </tr>
    <tr>
      <th>namespace:</th>
      <td>{{ podNamespace }}</td>
    </tr>
    <tr>
      <th>pod IP:</th>
      <td>{{ podIP }}</td>
    </tr>
    <tr>
      <th>pod service account:</th>
      <td>{{ podServiceAccount }}</td>
    </tr>
  </table>

</div>